* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }

  h4.banner {
    font-family: 'BIZ UDPGothic', sans-serif;
    font-size:smaller;
    line-height: 1.5em;
    padding: 0;
  }
  
  .header {
    text-align: center;
    padding: 2px;
    background: #000000;
  }

  #headerText {
    color: #ffffff;
    font-size: 40px;
  }

  .selectBW a{
    color: #ffffff;
    font-size: 80px;
    text-decoration: none;
  }

  .selectBW a:hover {
    transform: rotate(-10deg);
  }

  a.selectBW:active {
    transform: rotate(-10deg) translate(0, 2px);
  }

  .navbar {
    display: flex;
    justify-content: end;
    color: #ffffff;
    text-align: center;
  }
  
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .navbar a:hover {
    transform: rotate(10deg);
  }

  .navbar a:active {
    /* color: gold; */
    transform: rotate(10deg) translate(0, 2px);
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
::selection {
  background-color: transparent;
  color: gold;
}

a.activeTab {
  color: gold;
  transform: rotate(10deg);
}

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }