* {
    text-align: right;
}

body {
    background-color: antiquewhite;
    background-size:cover;
}


h2, p {
    color: #AA4139;
    text-align: center;
    border: 5px solid #FFB0AA;
    cursor:pointer;
}

img {
    float: left;
}

footer {
    clear: both;
    text-align: center;
}


p {
    line-height: 50px;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Comfortaa', cursive;
}

li {
    list-style: none;
    display:inline-block;
}

.webtext {
    border: 5px green dashed;
}

#div1 {
    background-color: goldenrod;
}